In [2]:
#import Dependencies

import pandas as pd

In [3]:
#Read file

file = "Resources/purchase_data.csv"

data_df = pd.read_csv(file)

In [4]:
#read just to see what data lies within csv

data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#player count

player_count = len(data_df["SN"].unique())

total_player = pd.DataFrame({
    "Total Players": [player_count]})

total_player

   Total Players
0            576

In [6]:
#another summary table to show unique items, avg price, no. of purchases, & total revenue

items_count = len(data_df["Item ID"].unique())
average_price = round(data_df["Price"].mean(),2)
purchase_count = len(data_df["Purchase ID"].unique())
total_revenue = sum(data_df['Price'])

summary_table = pd.DataFrame({"Number of Unique Items": [items_count],
                              "Average Price": average_price,
                              "Number of Purchases": purchase_count,
                              "Total Revenue": total_revenue})
summary_table

summary_table.style.format({"Average Price":"${:,.2f}",
                                  "Total Revenue":"${:,.2f}"})

In [7]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

gender_df = data_df.groupby("Gender")
total_genders = gender_df.nunique()["SN"]
percentage = total_genders / player_count * 100

gender_demo = pd.DataFrame({"Percentage of Players": percentage,
                            "Total Count": total_genders})

gender_demo.index.name = None

gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"+"%"})

In [10]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

purchase_count = gender_df["Purchase ID"].count()
avg_purchase_price = gender_df["Price"].mean()
total_purchase_price = gender_df["Price"].sum()
avgtotal_person = total_purchase_price/total_genders


gender_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": avg_purchase_price,
                              "Total Purchase Value": total_purchase_price,
                              "Avg Total Purchase per Person": avgtotal_person})

gender_analysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [12]:
# Age Demographics
 
#Establish bins for ages, Categorize the existing players using the age bins. Hint: use pd.cut(), 
#Calculate the numbers and percentages by age group, Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table


bins = [0,9,14,19,24,29,34,39,99999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(data_df["Age"], bins, labels=bin_names).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]