In [2]:
#import Dependencies

import pandas as pd

In [3]:
#Read file

file = "Resources/purchase_data.csv"

data_df = pd.read_csv(file)

In [4]:
#read just to see what data lies within csv

data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#player count

player_count = len(data_df["SN"].unique())

total_player = pd.DataFrame({
    "Total Players": [player_count]})

total_player

   Total Players
0            576

In [6]:
#another summary table to show unique items, avg price, no. of purchases, & total revenue

items_count = len(data_df["Item ID"].unique())
average_price = round(data_df["Price"].mean(),2)
purchase_count = len(data_df["Purchase ID"].unique())
total_revenue = sum(data_df['Price'])

summary_table = pd.DataFrame({"Number of Unique Items": [items_count],
                              "Average Price": average_price,
                              "Number of Purchases": purchase_count,
                              "Total Revenue": total_revenue})
summary_table

summary_table.style.format({"Average Price":"${:,.2f}",
                                  "Total Revenue":"${:,.2f}"})

In [7]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

gender_df = data_df.groupby("Gender")
total_genders = gender_df.nunique()["SN"]
percentage = total_genders / player_count * 100

gender_demo = pd.DataFrame({"Percentage of Players": percentage,
                            "Total Count": total_genders})

gender_demo.index.name = None

gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"+"%"})

In [40]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

purchase_count = gender_df["Purchase ID"].count()
avg_purchase_price = gender_df["Price"].mean()
total_purchase_price = gender_df["Price"].sum()
avgtotal_person = total_purchase_price/total_genders


gender_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": avg_purchase_price,
                              "Total Purchase Value": total_purchase_price,
                              "Avg Total Purchase per Person": avgtotal_person})

gender_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [36]:
# Age Demographics
 
#Establish bins for ages, Categorize the existing players using the age bins. Hint: use pd.cut(), 
#Calculate the numbers and percentages by age group, Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table


bins = [0,9,14,19,24,29,34,39,1000]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(data_df["Age"], bins, labels=bin_names).head()
data_df["Age Group"] = pd.cut(data_df["Age"], bins, labels=bin_names)

bin_group = data_df.groupby("Age Group")
total_count_age = bin_group["SN"].nunique()
bin_percent_players = (total_count_age/player_count) * 100

age_demo = pd.DataFrame({"Total Count": total_count_age,
                          "Percentage of Players": bin_percent_players})

age_demo.index.name = None
age_demo.style.format({"Percentage of Players":"{:,.2f}" + "%"})

In [46]:
#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age, Run basic calculations to obtain purchase count, 
#avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results

purchase_count_age = bin_group["Purchase ID"].count()
avg_purchase_price_age = bin_group["Price"].mean()
total_purchase_price_age = bin_group["Price"].sum()
avgtotal_person_age = total_purchase_price_age/total_count_age


purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count_age,
                              "Average Purchase Price": avg_purchase_price_age,
                              "Total Purchase Value": total_purchase_price_age,
                              "Avg Total Purchase per Person": avgtotal_person_age})

purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [69]:
#Top Spenders
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order

top_df = data_df.groupby("SN")

purchase_count_spend = top_df["Purchase ID"].count()
avg_purchase_price_spend = top_df["Price"].mean()
total_purchase_price_spend = top_df["Price"].sum()

spend_analysis = pd.DataFrame({"Purchase Count": purchase_count_spend,
                              "Average Purchase Price": avg_purchase_price_spend,
                              "Total Purchase Value": total_purchase_price_spend})

spend_final = spend_analysis.sort_values(["Total Purchase Value"], ascending=False)

spend_final.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})

spend_final.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10